@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "nunito", sans-serif;
  background-color: #131313;
  color: white;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  height: 400px;
  width: 100%;
  background-color: #131313;
}

.card {
  display: block;
  flex-direction: column;
  width: 150px;
  height: 400px;
  cursor: pointer;
  background-color: #131313;
  transition: 0.5s;
  border: none;
}

.card:hover {
  transform: scale(1.05);
}

.poster {
  width: 150px;
  border-radius: 10px;
}

.title {
  text-decoration: none;
  color: white;
}

.year,
.duration {
  margin-top: 1rem;
  font-size: smaller;
  color: white;
}

#container {
  max-width: 1150px;
  margin: 0 auto;
}

h3 {
  margin-top: 40px;
}
