@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "nunito", sans-serif;
  background-color: #131313;
  color: white;
}

#container {
  max-width: 1150px;
  margin: 0 auto;
}

/* slider styles */

.slider {
  width: 1150px;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  transition: 2s;
}

.slide img {
  width: 1150px;
  height: 500px;
  object-fit: cover;
}

/* manual navegation */
.navegation-manual {
  display: flex;
  position: absolute;
  width: 1150px;
  margin-top: -40px;
  justify-content: center;
}

.manual-btn {
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/* auto navegation styles */

.navegation-auto {
  position: absolute;
  display: flex;
  width: 1150px;
  justify-content: center;
  margin-top: 460px;
}

.navegation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navegation-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .navegation-auto .auto-btn1 {
  background: white;
}
#radio2:checked ~ .navegation-auto .auto-btn2 {
  background: white;
}
#radio3:checked ~ .navegation-auto .auto-btn3 {
  background: white;
}

/* movies styles */
hr {
  margin-top: 4rem;
}

#cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  height: 400px;
  width: 100%;
  background-color: #131313;
}

.card {
  display: block;
  flex-direction: column;
  width: 150px;
  height: 400px;
  cursor: pointer;
  background-color: #131313;
  transition: 0.5s;
  border: none;
}

.card:hover {
  transform: scale(1.05);
}

.poster {
  width: 150px;
  border-radius: 10px;
}

.title {
  text-decoration: none;
  color: white;
}

.year,
.duration {
  margin-top: 1rem;
  font-size: smaller;
  color: white;
}

#container {
  max-width: 1150px;
  margin: 0 auto;
}

h3 {
  margin-top: 40px;
}